.paper {
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-image: url("..\\images\\paper.jpg");
}

.metal {
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  color: beige;
  text-shadow: white;
  background-image: url("..\\images\\metal2.jpg")
}

/* paragraph formatting */
}
p {
  font-size: 10pt;
}

h1{
  font: 20px Arial, sans-serif;}

/* mouse over link */
a:hover {
  color: brown;
}

::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: yellow;
  background: orange;
}

.cursor {
  cursor: url('..\\images\\favicon.png'), auto; 
}